/* root */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --second-text-color:#FFFFFF;
    --accent-color:#4D5AE5;
    --head-background-color:#E5E5E5;
    --other-background-color: #F4F4FD;}


html {box-sizing: border-box;}   

*, 
*::before, 
*::after {box-sizing: inherit;}

/* body */

body {color:var(--primary-text-color);
    background-color:var(--second-text-color);
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;}
ul {list-style-type: none;}

/* header */

.web {display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:var(--accent-color);}
.logo {width: 71px;
    height: 24px;    
    font-family:'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-decoration: none;}

.nav .site .link {font-weight: 600;
        color:var(--title-text-color);    
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: uppercase; 
        text-decoration: none;}

.work {text-decoration: none;}

.nav .site .link:hover, .nav .site .link:focus {color:var(--accent-color);}  

.mail .address, .ul .style {color:var(--primary-text-color);
    text-decoration: none;} 
.mail .address:hover  {color:var(--accent-color);}    
.mail .address:focus  {color:var(--accent-color);}    

/* block hero */

.header {background:var(--title-text-color);}
.main.header {font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--second-text-color);}    

/* button */

.button {color:var(--second-text-color); 
    background:var(--accent-color);
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 170px;
    height: 51px;
    padding-left: 32px;
    cursor: pointer;
    border: 0;}  

.button.all {padding: 8px 16px;
    width: 69px;
    height: 48px;}

.button.web {padding: 8px 16px;
    width: 116px;
    height: 48px;}

.button.app {padding: 8px 16px;
    width: 78px;
    height: 48px;} 
        
.button.desing {padding: 8px 16px;
    width: 101px;
    height: 48px;} 
        
.button.marketing {padding: 8px 16px;
    width: 126px;
    height: 48px;}         

.button.primary {color: var(--second-text-color);background-color: var(--accent-color);}  
.button.secondary {color: var(--accent-color);background-color: var(--other-background-color);}

.button.primary:hover {background-color: var(--second-text-color); color: var(--accent-color);}   
.button.primary:focus {background-color: var(--second-text-color); color: var(--accent-color);}

.button.secondary:hover {color: var(--second-text-color); background-color: var(--accent-color); }
.button.secondary:focus {color: var(--second-text-color); background-color: var(--accent-color);  }   

/* description */

.description-header {font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}

.description-text {color:var(--primary-text-color);
                   letter-spacing: 0.02em;}   
    
/* images */

.images-header {font-weight: 600;
    font-size: 36px;
    line-height: 1.1;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--title-text-color);}

/* our team */

.team {background:var(--other-background-color);}
.team-header {font-weight: 600;
    font-size: 36px;
    line-height: 1.1;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);}

.team-header-name {font-weight: 600;
    font-size: 20px;  
    letter-spacing: 0.02em;  
    color:var(--title-text-color);}  
    
.team-text-name {color:var(--primary-text-color);
                 letter-spacing: 0.02em;}    


/* footer */

.footer {background: var(--title-text-color);}
.footer.studio {color: var(--other-background-color); }
.footer.text {color: #E7E9FC;
              letter-spacing: 0.02em;}




/* hiden title */

.hide {display: none;
        transition: all ease 0.8s;}    